@import url("../Login/Login.css");
/* @import url("dashboard-contract.css"); */

/* Font Face */

/* Font Face */

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #2b2b2b;
    background: #f5f8fd;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

a, a:hover {
    text-decoration: none;
}

/* this css for ios on focus issue*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select, textarea, input, .input-text {
        font-size: 16px;
    }
    .input-text:focus {
        font-size: 16px;
    }
}

/* this css for ios on focus issue*/

input:focus, select:focus, textarea:focus, button:focus {
    outline: 0px;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-placeholder {
    color: inherit;
}

:-ms-input-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: normal;
    color: #111111;
    line-height: inherit;
}

input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

.extraHeight {
    height: 70px;
}

.boxesWhite {
    margin: 20px 0px;
    padding: 0px;
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 18px #c4cbd5;
    border-radius: 4px;
}

/* custom check box */

.checkboxCustom {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.checkboxCustom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #4200e0;
    border-radius: 4px;
    background-color: #fff;
}

.ui.segment {
    margin: 0rem 0!important;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 10);
}

/* On mouse-over, add a grey background color */

.checkboxCustom:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */

.checkboxCustom input:checked~.checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkboxCustom input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkboxCustom .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid #4200e0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.clearfix {
    clear: both;
}

/** all **/

.ui.button {
    margin: 20px auto 20px auto;
    padding: 16px 34px;
    /* width: 108px;  height: 50px; */
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
    text-decoration: none;
    border: 0px;
    border-radius: 3px;
    background: #8e2de2 !important;
}

.ui.button:hover {
    background: #4100e0 !important;
    color: #fff !important;
}

.ui.animated.button .visible.content {
    margin-right: 0px;
}

/* 
.ui.button.btnBasic {
    margin: 30px auto 30px auto;
    padding: 16px 34px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #b6b9bc;
    text-decoration: none;
    border: 2px solid #d4d7db;
    border-radius: 4px;
    background: #fff;
}

.ui.button.btnBasic:hover {
    background: #4100e0;
    border: 2px solid #4100e0;
    color: #fff;
} */

.spanError {
    display: block;
    margin: 5px 0px;
    padding: 0px;
    width: 100%;
    font-size: 12px;
    color: #ff0000;
    text-align: left;
    margin-left: 50px;
}

/** all **/

@media screen and (max-width: 480px) {
    .ui.button.btnBasic {
        padding: 20px 20px
    }
}

/*

@media screen and (max-width: 992px) {
    .downarrow-mobile {
        display: block;
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
    .loginWrapper .logincnt {
        width: 100%;
        height: 100%;
        margin: 0% auto;
    }
    .loginWrapper .logincnt .left {
        margin: 0px auto;
        display: block;
        float: none;
        height: 100%;
    }
    .logo {
        margin: 0px auto 0px auto;
        padding: 40px 0px 0px 0px;
        display: block;
        width: 139px;
        height: 100%;
    }
    .login-p, .button-group {
        display: none;
    }
    .loginWrapper .logincnt .right {
        margin: 0px auto;
        display: block;
        float: none;
        height: 100%;
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .login-error {
        margin: 0px auto 0px auto;
        padding-top: 0px;
    }
}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 823px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 768px) {
    .login-error {
        visibility: hidden;
        width: 75%;
    }
    .login-error .cnt {
        width: 80%;
    }
}

@media screen and (max-width: 667px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 569px) {}

@media screen and (max-width: 533px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 424px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}

*/

/** Responsive css start **/